<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style type="text/css">
                li *{
                    display:inline-block;
                    margin:0 10px;
                }
            </style>
        {% endblock %}
        <script src="{{ asset('admin/dist/js/jquery-3.1.0.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}




        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript">

                var $addPropertySpecLink=$('<a href="#" class="add_property_specification_link">Add a Property Specification</a>');
                var $newLinkLiPropSpec=$('<li></li>').append($addPropertySpecLink);
                var $collectionHolderPropSpec;


                var $addFloorPlanLink = $('<a href="#" class="add_floor_plan_link">Add a Floor Plan</a>');
                var $newLinkLi = $('<li></li>').append($addFloorPlanLink);



                // setup an "add a floor plan" link

                var $collectionHolder;

                $(document).ready(function () {

                    // Get the ul that holds the collection of property specification
                    $collectionHolderPropSpec=$('#post_property_propertySpecification');




                    // Get the ul that holds the collection of floor plans
                    $collectionHolder = $('#post_property_floorPlans');


                    //alert($collectionHolder);


                    // add the "add property specification" anchor and li to the tags ul
                    $collectionHolderPropSpec.append($newLinkLiPropSpec);


                    // add the "add a floor plan" anchor and li to the tags ul
                    $collectionHolder.append($newLinkLi);


                    // count the current form inputs we have (e.g. 2), use that as the new // index when inserting a new item (e.g. 2)
                    $collectionHolderPropSpec.data('index', $collectionHolderPropSpec.find(':input').length);


                    // count the current form inputs we have (e.g. 2), use that as the new // index when inserting a new item (e.g. 2)
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);



                    $addPropertySpecLink.on('click',function (e) {
                        e.preventDefault();
                        addPropertySpecForm($collectionHolderPropSpec,$newLinkLiPropSpec);
                    });




                    $addFloorPlanLink.on('click', function(e) {

                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();
                        // add a new tag form (see next code block)
                        addFloorPlanForm($collectionHolder, $newLinkLi);
                    });




                });

                function addPropertySpecForm($collectionHolderPropSpec,$newLinkLiPropSpec)
                {
                    var index = $collectionHolderPropSpec.data('index');



                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolderPropSpec.data('prototype');




                    // Replace '$$name$$' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, index);
                    newForm=newForm.replace(/label__/g,'');



                    // increase the index with one for the next item
                    $collectionHolderPropSpec.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi = $('<li></li>').append(newForm);



                    // also add a remove button, just for this example
                    $newFormLi.append('<a href="#" class="remove-tag">x</a>');

                    $newLinkLiPropSpec.before($newFormLi);

                    // handle the removal, just for this example
                    $('.remove-tag').click(function(e) {
                        e.preventDefault();

                        $(this).parent().remove();

                        return false;
                    });
                }
                function addFloorPlanForm($collectionHolder, $newLinkLi) {

                    var index = $collectionHolder.data('index');

                    alert(index);

                    // Get the data-prototype explained earlier
                    var prototype = $collectionHolder.data('prototype');




                    prototype=prototype.substring(0,prototype.length-6)+'<img src="#" alt="Selected Img" height="100" width="100" id="post_property_floor_plans_FP__name__"/>'+'</div>';


                    // Replace '$$name$$' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, index);
                    newForm=newForm.replace(/label__/g,'');



                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormLi = $('<li></li>').append(newForm);



                    // also add a remove button, just for this example
                    $newFormLi.append('<a href="#" class="remove-tag">x</a>');

                    $newLinkLi.before($newFormLi);

                    // handle the removal, just for this example
                    $('.remove-tag').click(function(e) {
                        e.preventDefault();

                        $(this).parent().remove();

                        return false;
                    });
                    $('input[type="file"]').change(function(){

                        var reader = new FileReader();
                        var fileID=$(this).attr('id');
                        reader.onload = function (e) {
                            // get loaded data and render thumbnail.

                            fileID=fileID.substr(0,fileID.length-14);
                            fileID=fileID.substr(25,fileID.length-25);

                            var imgTagID='post_property_floor_plans_FP'+fileID;

                            document.getElementById(imgTagID).setAttribute('src',e.target.result);

                        };

                        // read the image file as a data URL.
                        reader.readAsDataURL(this.files[0]);

                    });


                }




                function PreviewImage(imgTagId, selectFileId) {
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(document.getElementById(selectFileId).files[0]);

                    oFReader.onload = function (oFREvent) {
                        document.getElementById(imgTagId).src = oFREvent.target.result;
                    };
                }
            </script>
        {% endblock %}
    </body>
</html>
