{% extends 'admin.html.twig' %}
{% block header %} Property Facing{% endblock %}
{% block subheader %} New Property Facing{% endblock %}
{% block content %}




    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('propertyfacing_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
