{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<h6>Dont Have an Account? Register Now</h6>

{{ form_widget(form) }}
    <div>
        <input class="tran3s" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
