{% extends 'admin.html.twig' %}
{% block header %} Power Backup Facilities {% endblock %}
{% block subheader %} New Power Backup Facility{% endblock %}
{% block content %}
    <h1>PowerBackup creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('powerbackup_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
