{% extends 'admin.html.twig' %}
{% block header %} Power Backup Facilities {% endblock %}
{% block subheader %} New Power Backup Facility{% endblock %}
{% block content %}
    <div class="panel-body">
        <div class="form-horizontal">

            {{ form_start(form) }}
            <div class="form-group">
                <div class="col-md-3">Type of Power backup</div>
                <div class="col-md-6">
                    {{ form_widget(form.powerBackupName) }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-2">

                    <input type="submit" value="Create" class="btn btn-success"/>
                    <a class="btn btn-primary" href="{{ path('powerbackup_index') }}">Back</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}