{% extends "web.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="inner_section_title">
                    <!-- Main_title__________ -->
                    <div class="main_title">
                        <h2>DMCA</h2>
                    </div>
                </div> <!-- End .inner_section_title -->

                <!-- _________________________ FAQ item _________________ -->
                <div class="item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 text">
                            <p>{{ dmca }}</p>
                        </div> <!-- End .text -->
                    </div>
                </div> <!-- End .faq_item -->
            </div> <!-- End .col- -->

            <!-- _______________________________________________ Sidebar ________________________________________________ -->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar_style_two">

                    <!-- ___________________________Reduced Properties_______________________________ -->
                    <div class="reduced_properties">
                        <!-- Main_title2__________ -->
                        <div class="main_title2">
                            <h3>Reduced Properties</h3>
                        </div>
                        <!-- End Main_title2______ -->

                        <div class="item_wrapper">
                            <div class="itme">
                                <div class="img_holder">
                                    <img src="{{ asset('reweb/images/home3/16.jpg') }}" alt="images">
                                </div> <!-- End .img_holder -->
                                <div class="text">
                                    <a href="#">
                                        <h6>Jungle golf Villas</h6>
                                        <span><i class="fa fa-map-marker"></i> California</span>
                                        <h5>$ 14,500 / Month</h5>
                                    </a>
                                </div> <!-- End .text -->
                            </div> <!-- End .item -->

                            <div class="itme">
                                <div class="img_holder">
                                    <img src="{{ asset('reweb/images/home3/17.jpg') }}" alt="images">
                                </div> <!-- End .img_holder -->
                                <div class="text">
                                    <a href="#">
                                        <h6>Office Apartment</h6>
                                        <span><i class="fa fa-map-marker"></i> Sanfransisco</span>
                                        <h5>$ 18,000 / Month</h5>
                                    </a>
                                </div> <!-- End .text -->
                            </div> <!-- End .item -->

                            <div class="itme">
                                <div class="img_holder">
                                    <img src="{{ asset('reweb/images/home3/18.jpg') }}" alt="images">
                                </div> <!-- End .img_holder -->
                                <div class="text">
                                    <a href="#">
                                        <h6>Rainbow Building</h6>
                                        <span><i class="fa fa-map-marker"></i> California</span>
                                        <h5>$ 15,000 / Month</h5>
                                    </a>
                                </div> <!-- End .text -->
                            </div> <!-- End .item -->

                        </div> <!-- End .item_wrapper -->
                    </div> <!-- End .reduced_properties -->
                </div> <!-- End .sidebar_style_two -->
            </div>
        </div> <!-- End .row -->
    </div>
{% endblock %}
