{% extends "::base.html.twig" %}

{% block title %}BrooterAdvertisementBundle:AdverUser:new{% endblock %}

{% block body %}
    <h3>Select Advertisement</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
